body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5b625; /* Color institucional */
    color: #333;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #a5fc47; /* Color institucional */
    color: #333;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: #333;
        background-color: #f5b625; /* Color institucional */
        padding: 1em;
        text-align: center;
    }

    .menu-toggle.active + nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 1em 0;
    }
}
